<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SafeScan Login</title>
    <link rel="stylesheet" href="/public/css/login_style.css">
    <script src="https://kit.fontawesome.com/b5c57f8a6b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    </header>
    <div id="raid">
        <i class="fa-solid fa-user" id="iconousuario"></i>
        <div class="container">
            <form action="auth" method="POST">
                <div class="input-container">
                    <input type="text" id="usuario" name="usuario" placeholder="Username">
                    <input type="password" id="contrasena" name="contrasena" placeholder="Password">
                </div>
                <table border="0" >
                    <tr>
                        <td>
                            <div>
                                <input type="checkbox" id="mostrarContrasena" name="mostrarContrasena">
                                <label for="mostrarContrasena">Show password</label>
                            </div>
                        </td>
                        <td rowspan="2" class="merged-cell" align="center">
                            <div><input type="submit" value="Login"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <input type="checkbox" id="recordarme" name="recordarme">
                                <label for="recordarme">Remember me</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="center">
                            <a href="/register">Register Now</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script src="/public/scripts/login-teamplate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='/login<%= ruta %>'
            });
        </script>
    <% } %>
</body>
</html>