<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b5c57f8a6b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeScan Upload</title>
    <link rel="stylesheet" href="/public/css/main_template_css.css">
    <link rel="stylesheet" href="/public/css/upload_style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">SafeScan</a>
        </div>
        <% if (login == true) { %>
            <div class="opciones">
                <div class="login">
                    <a href="/logout">Logout</a><i class="fa-solid fa-user" class="iconousuario"></i>
                </div>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="#">About us</a>
                    <a href="#">Support</a>
                    <a href="#">Download</a>
                </div>
            </div>
        <% } %>
        <% if (login == false) { %>
            <div class="opciones">
                <div class="login">
                    <a href="/login">Login</a><i class="fa-solid fa-user" class="iconousuario"></i>
                </div>
                
                <div class="links">
                    <a href="/">Home</a>
                    <a href="#">About us</a>
                    <a href="#">Support</a>
                    <a href="#">Download</a>
                </div>
            </div>
        <% } %>
    </header>

    <main>
        <% if (login == true) { %>
            <div class="adondetanmuchacho">
                <div class="file-name" id="file-name-display"></div>
                <form>
                    <div id="div_file">
                        <p id="texto">Add File</p>
                        <input type="file" id="archivo" name="archivo" multiple>
                    </div>
                    <input type="submit" value="upload" class="upload">
                </form>
            </div>
        <% } %>
        <% if (login == false) { %>
            
        <% } %>
    </main>

    

    <footer>
    </footer>
    <script src="/public/scripts/script_upload_template.js" login="<%= login %>"></script>
    <script>
        const fileInput = document.getElementById('archivo');
        const fileNameDisplay = document.getElementById('file-name-display');
    
        fileInput.addEventListener('change', function() {
            if (this.files.length > 0) {
                fileNameDisplay.style.display = 'block';
                fileNameDisplay.innerHTML = '<p>Archivos seleccionados:</p><ul>';

                for (let i = 0; i < this.files.length; i++) {
                    fileNameDisplay.innerHTML += `<li>${this.files[i].name}</li>`;
                }

                fileNameDisplay.innerHTML += '</ul>';
            } else {
                fileNameDisplay.style.display = 'none';
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='/upload<%= ruta %>'
            });
        </script>
    <% } %>
</body>
</html>